

.jumbotron
{
    background-color: darkgrey;;
}
#donate_form
{
    padding-left: 246px;
}

@media screen and (min-device-width: 121px) and (max-device-width: 621px){
    #donate_form
{
    padding-left: 10px;
}
}

@keyframes changetext {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
}